@font-face {
  font-display: swap;
  font-family: 'Bluu Next Cyrillic';
  font-weight: 900;
  src: url('../fonts/Bluu-Next-Cyrillic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Bluu Next Cyrillic';
  font-weight: 700;
  src: url('../fonts/Bluu-Next-Cyrillic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-weight: 700;
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-weight: 500;
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

:root {
  --color-primary: #f9b50c;
  --color-secondary: #1d1d1d;
  --primary-font: 'Bluu Next Cyrillic', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --bp-mobile: 480px;
  --bp-tablet: 768px;
  --bp-desktop: 1280px;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: var(--secondary-font);
  font-weight: 400;
  background-color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Base */

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.is-hidden {
  display: none;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.btn {
  padding: 18px 36px;
  width: 320px;
  height: 59px;
  border-radius: 100px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  cursor: pointer;
  color: var(--color-secondary);
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition:
    color 0.2s,
    background 0.2s;
}

.btn:hover {
  color: var(--color-primary);
  background: transparent;
}

/* Hero Section */

.hero-section {
  padding: 100px 0px 253px 0px;
  background-image:
    linear-gradient(
      180deg,
      var(--color-secondary) 15.53%,
      rgba(29, 29, 29, 0.82) 39.12%,
      rgba(29, 29, 29, 0) 82.77%,
      var(--color-secondary) 100%
    ),
    image-set(
      url(../images/background.jpg) 1x,
      url(../images/background2x.jpg) 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section__title {
  margin-bottom: 80px;
  max-width: 890px;
  font-family: var(--primary-font);
  font-size: 80px;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary);
}

/* Chose Section */

.chose-section {
  padding: 0px 0px 100px 0px;
  background: var(--color-secondary);
}

.chose-section__characters {
  display: flex;
  gap: 20px;
}

.chose-section__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.chose-section__image {
  border-radius: 20px;
  width: 400px;
  height: 400px;
}

/* Change Section */

.change-section {
  padding: 100px 0;
}

.change-section__title {
  margin-bottom: 70px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 80px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-primary);
}

.change-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.change-section__card {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 295px;
  height: 452px;
  border-radius: 20px;
  background: linear-gradient(
    0.68deg,
    #0f0f0f -1.51%,
    rgba(15, 15, 15, 0.74) 51.87%,
    rgba(15, 15, 15, 0) 86.41%
  );
}

.change-section__image {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.change-section__name {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.4;
  color: #fff;
}

.change-section__text {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 16px;
  line-height: 1.4;
  color: var(--color-primary);
}

.change-section__btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  text-align: left;
}

.hover-card {
  padding: 20px;
  position: absolute;
  color: #fff;
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 20px;
  width: 295px;
  height: 452px;
  z-index: 3;
  bottom: -22px;
  left: -22px;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

.hover-card span {
  font-weight: 500;
  color: var(--color-primary);
}

.change-section__btn:hover .hover-card {
  opacity: 1;
  visibility: visible;
}

.back-btn {
  margin: 50px 20px;
  padding: 5px;
  height: 70px;
  width: 70px;
}

.load-more-btn {
  margin: 50px 0;
  padding: 5px;
}

/* Houses List */

.houses-list {
  margin-bottom: 50px;
  display: flex;
  border: 1px solid #d9d9d9;
  border-radius: 100px;
  width: 100%;
  max-width: 1240px;
  height: 79px;
  align-items: center;
  justify-content: space-between;
}

.house-btn {
  padding: 0 30px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  background: none;
  height: 79px;
  width: 280px;
  border-radius: 100px;
  font-family: var(--primary-font);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  transition:
    color 0.2s,
    background 0.2s;
}

.house-btn.active {
  color: var(--color-secondary);
  background: var(--color-primary);
}
