@font-face {
  font-display: swap;
  font-family: 'Bluu Next Cyrillic';
  font-weight: 900;
  src: url('../fonts/Bluu-Next-Cyrillic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Bluu Next Cyrillic';
  font-weight: 700;
  src: url('../fonts/Bluu-Next-Cyrillic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-weight: 700;
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-weight: 500;
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}
