:root {
  --color-primary: #f9b50c;
  --color-secondary: #1d1d1d;
  --primary-font: 'Bluu Next Cyrillic', sans-serif;
  --secondary-font: 'Inter', sans-serif;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
